// Margins

.u-margin-bottom-small { margin-bottom: 1.5rem; }
.u-margin-bottom-medium { margin-bottom: 3rem; }

.u-padding-top-medium { padding-top: 3rem;}
.u-padding-bottom-medium { padding-top: 3rem;}


.float-left { float: left }
.float-right { float: right }

.clear-fix {
  content: "";
  display: inline-table;
  clear: both;
}